/* music */
.bgm-btn-wraper {
	position: fixed;
    z-index: 200;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
}
.bgm-btn-wraper .bgm-btn {
	width: 100%;
	height: 100%;
    border-radius: 15px;
    background-image: url('/assets/music.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.bgm-btn-wraper .bgm-btn.rotate {
	animation: rotating 1.2s linear infinite;
}
@keyframes rotating {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(1turn);
	}
}
/* first page */
.first-page .photo-frame-left {
	width: 12.2666666667vw;
	height: 52.5333333vw;
	position: absolute;
	left: 0;
	bottom: 0;
}
.first-page .photo-frame-right {
	width: 19.7333333vw;
	height: 38.66666667vw;
	position: absolute;
	right: 0;
	top: 0;
}
.first-page .bottom-ear {
	width: 82.9333333vw;
	height: 27.2vw;
	position: absolute;
	right: 0;
	bottom: 0;
}
.first-page .logo {
	display: block;
	width: 27.2vw;
	height: 16vw;
	margin: 50px auto 0;
}
.first-page .title {
	font-size: 19px;
	color: #744d23;
	font-weight: 500;
	margin: 29px auto 0;
	text-align: center;
}
.first-page .rect-box {
	width: 48.8vw;
	height: 87.7333333vw;
	margin: 42px auto 0;
	position: relative;
	z-index: 1;
}
.first-page .rect-box .rect-box-bg {
	width: 100%;
	height: 100%;
	background-image: url("/assets/rect.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.first-page .rect-box .rect-box-bg .china-merchants {
	width: 7px;
	height: 91px;
	position: absolute;
	top: 50%;
	right: -2px;
	transform: translate3d(0,-60%,0);
}
.first-page .rect-box .title-1 {
	width: 11.2vw;
	height: 44.8vw;
	position: absolute;
	top: 31px;
	left: 39px;
}
.first-page .rect-box .title-2 {
	width: 12vw;
	height: 72.266666667vw;
	position: absolute;
	top: 31px;
	right: 35px;
}
.first-page .rect-box .double-slash {
	width: 55px;
	height: 100px;
	position: absolute;
	opacity: 0;
}
.first-page .rect-box .double-slash.-left {
	left: -34px;
	top: 105px;
}
.first-page .rect-box .double-slash.-right {
	right: -28px;
	bottom: 30px;
}
.first-page .rect-box .refinement-text {
	width: 15px;
	height: 95px;
	position: absolute;
	left: -28px;
}
.first-page .rect-box .bubble-1 {
	width: 57px;
	height: 57px;
	background: #F6EBDE;
	border-radius: 50%;
	opacity: 0;
	z-index: -1;
	position: absolute;
	left: -73px;
	bottom: 89px;
	animation: float 2s ease-in-out alternate infinite;
}
.first-page .rect-box .bubble-2 {
	width: 85px;
	height: 85px;
	background: #FBF5EE;
	border-radius: 50%;
	opacity: 0;
	z-index: -1;
	position: absolute;
	right: -52px;
	top: -14px;
	animation: float 2s ease-in-out alternate-reverse infinite;
}
@keyframes float {
	0% {
	    transform: translate3d(0px,-8px,0px);
	}
	100% {
	    transform: translate3d(0px,8px,0px);
	}
}